@charset "UTF-8";

/* bodyに対するcss */
body {
    display: flex;
    flex-flow: column;
    min-height: 100vh;
}

.main {
    text-align: center;
    width: 70%;
    margin: 0 auto;
    flex: 1;
}

.title {
    width: 100%;
    text-align: left;
    margin: 50px auto 20px auto;
}

.contentsForm {
    display: flex;
    flex-flow: column;
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

.contents {
    font-size: 17px;
    margin: 50px 0px 20px 0px;
    width: 100%;
    text-align: left;
}

.contents::after {
    color: #fff;
    font-size: 14px;
    text-align: center;
    vertical-align: top;
    width: 50px;
    height: 25px;
    content: "必須";
    display: inline-block;
    margin-left: 20px;
    padding-top: 3px;
    background-color: rgb(31, 31, 31);
    margin-right: 20px;
    border-radius: 25px;
}

.input {
    font-size: 15px;
    letter-spacing: 0.05em;
    position: relative;
    width: 100%;
    padding: 21px 26px 22px;
    border: 1px solid #1f1f1f;
    border-radius: 5px;
}

.submit {
    margin: 50px auto;
    text-align: center;
}

.error {
    margin: 20px auto;
    text-align: left;
    color: red;
    height: 17px;
}

.submitButton {
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    background-color: rgb(31, 31, 31);
    text-transform: uppercase;
    font-weight: 200;
    border-radius: 40px;
    cursor: pointer;
    font-size: 20px;
    padding: 20px 100px;
}

.submitButton:hover {
    background-color: #fff;
    color: rgb(31, 31, 31);
    border-color: rgb(31, 31, 31);
}