@charset "UTF-8";

/* パンくずリストに対するcss */
.breadcrumb {
    margin: 10px 0 0 10px;
    padding: 0;
    list-style: none;
}

.breadcrumb li {
    display: inline;
    list-style: none;
}

.breadcrumb li:last-child::after {
    content: '';
}

.breadcrumb li a {
    text-decoration: none;
    color: #52b5ee;
}

.breadcrumb li a:hover {
    text-decoration: underline;
}

.breadcrumb li:after {
    content: '>';
    padding: 0 0.2em;
    color: #555;
}

/* bodyに対するcss */
body {
    display: flex;
    flex-flow: column;
    min-height: 100vh;
}

.inputForm {
    text-align: center;
    margin: 46px auto;
    flex: 1;
}

.inputForm h1 {
    font-size: 40px;
}

.inputForm .subTitle {
    font-size: 25px;
}

.inputForm input {
    width: 500px;
    height: 50px;
    font-size: 30px;
}

.inputForm .errorMsg {
    margin: 0;
    height: 44px;
    font-size: 20px;
}

.signUpForm {
    width: 500px;
    text-align: left;
    margin: 0 auto;
    color: red;
}

.submitSignUp {
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    background-color: #1E90FF;
    text-transform: uppercase;
    font-weight: 200;
    border-radius: 10px;
    cursor: pointer;
}

.submitSignUp:hover {
    background-color: #fff;
    color: #1E90FF;
    border-color: #1E90FF;
}

.inputForm a {
    font-size: 20px;
}

.haveAccount {
    padding-top: 50px;
}

/* linkに対するcss */
a:link {
    color: blue;
    text-decoration: underline;
}

a:visited {
    color: blue;
    text-decoration: underline;
}

a:hover {
    color: #330066;
    text-decoration: underline;
}

a:active {
    color: blue;
    text-decoration: none;
}